<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span>关于我</span>
    </div>

    <div class="user-profile">
      <div class="box-center">
        <pan-thumb :image="user.avatar" :height="'100px'" :width="'100px'" :hoverable="false">
          <div>Hello</div>
          {{ user.username }}
        </pan-thumb>
      </div>
      <div class="box-center">
        <div class="user-name text-center">{{ user.username }}</div>
      </div>
    </div>

    <div class="user-skills user-bio-section">
      <div class="user-bio-section-header"><svg-icon icon-class="skill" /><span class="pl-5">技术栈</span></div>
      <div class="user-bio-section-body">
        <div class="progress-item">
          <span>Vue</span>
          <el-progress :percentage="70" />
        </div>
        <div class="progress-item">
          <span>JavaScript</span>
          <el-progress :percentage="18" />
        </div>
        <div class="progress-item">
          <span>Css</span>
          <el-progress :percentage="12" />
        </div>
        <div class="progress-item">
          <span>ESLint</span>
          <el-progress :percentage="100" status="success" />
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import PanThumb from '@/components/PanThumb'

export default {
  components: { PanThumb },
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          username: '',
          avatar: '',
          name: '',
          phone: '',
          id_card: '',
          email: '',
          addr: ''
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.box-center {
  margin: 0 auto;
  display: table;
}

.text-muted {
  color: #777;
}

.user-profile {
  padding-bottom: 20px;
  .user-name {
    font-weight: bold;
  }

  .box-center {
    padding-top: 10px;
  }

  .user-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }

  .box-social {
    padding-top: 30px;

    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }

  .user-follow {
    padding-top: 20px;
  }
}

.user-bio-section {
  font-size: 14px;
  padding: 15px 0;
  color: #606266;

  .user-bio-section-header {
    border-bottom: 1px solid #dfe6ec;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
</style>
